@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Magic Music Blocks";
  src: url(/assets/MagicMusicBlocks-Regular.otf) format("truetype");
}

.container {
  display: flex;
}

.title-box {
  background: #bdc3c7;
  border-style: solid;
  width: 200px;
  height: 75px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 2px;
  flex: 2;
  flex-wrap: wrap;
}

.box {  
  border-style: solid;
  width: 200px;
  height: 75px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 2px;
  flex: 2;
  flex-wrap: wrap;
}

.magicMusicBlocks {
  font-family: "Magic Music Blocks";
  font-size: 60px;
  letter-spacing: 20px;
}

.chord {
  font-size: 30px;
}

.box:nth-child(1) {
  align-items: center;
  flex: 1;
}

.title-box:nth-child(1) {
  align-items: center;
  flex: 1;
}

p {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
